<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Tauge</title>
</head>
<body>
    <h1>Dashboard</h1>   
    <h2>Create Courses</h2>

    <form method="post" action="/create">
     <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Title" required="required">
     </div>
     <div class="form-group">
        <input type="text" class="form-control" name="description" placeholder="Description" required="required">
     </div>
     <div class="form-group">
        <input type="text" class="form-control" name="thumbnail" placeholder="Thumbnail" required="required">
     </div>
     <div class="form-group">
        <input type="submit" name="create-courses" value="Create" class="btn btn-block"> 
     </div>
    </form>
</body>
</html>