h1 {
    background-color:  #addada;
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-color: rgb(240, 240, 240);
}

.form-group {
    margin-bottom: 15px;
    position: relative;
  }
.form-label {
    color: #addada;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto 8px;
  }
.form-control {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    color:beige;
    font-size: 15px;
    height: 46px;
    line-height: 30px;
    padding: 0 15px;
  }
